<ul class="main-navigation">
	<li><a href="{{ root_url }}/">Home</a></li>
	<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
	<li>
		<a href="{{ root_url }}/blog/categories">Categories</a>
		<ul>
			{% for item in site.categories %}
				<li><a href="/blog/categories/{{ item[0] | downcase }}/">{{ item[0] | capitalize }}</a> [ {{ item[1].size }} ]</li>
			{% endfor %}
		</ul>
	</li>
	<li>
		<a href="#">Other Blogs</a>
		<ul>
			{% for name, item in site.blogs %}
				<li>{{ item }}</li>
				<li><a href="{{ item.url }}">{{ item.name }}</a></li>
			{% endfor %}
		<li>
	</li>
	<li><a href="{{ root_url }}/about">About Me</a></li>
</ul>
